/* Variables */
:root {
  --clr-green: #42dca3;
  --clr-white: #fff;
  --clr-blk: #000;
  --font-text: "Cabin";
}

/* estilos generales */
body {
  font-family: var(--font-text);
  color: var(--clr-white);
  font-size: 18px;
}

/* BTNS */
.button {
  height: 30px;
  border: solid 1px;
  border-color: var(--clr-green);
  padding: 4px 8px;
  font-size: 18px;
  color: var(--clr-green);
  background-color: var(--clr-blk);
}

/* INPUTS */
.input {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: var(--clr-blk);
  display: inline-block;
  margin: 0 auto;
  padding-left: 15px;
  width: 400px;
}

/* Nav */
#navbar {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
#navbar .mcr {
  display: flex;
}
#navbar .mcr p {
  padding-left: 20px;
}
/* Banner */
#banner {
  height: 1125px;
  width: 100%;
  background-image: url(img/intro-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#banner .title {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#banner .title h1 {
  padding: 30px;
  font-size: 150px;
  font-weight: 700;
}
#banner .title p {
  padding-top: 60px;
}
#banner .title i {
  font-size: 40px;
  padding-top: 100px;
}
#info {
  height: 500px;
  background-color: var(--clr-blk);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#info h2 {
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 50px;
}
#info p {
  margin: 0 500px;
  padding: 30px;
  text-align: center;
}
#info p .green {
  color: var(--clr-green);
}
